<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>글 상세보기...</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div id="container">
		<h2>글 상세보기</h2>
			<table class="tbl_list">
				<tbody>
					<tr>
						<td>
							<input type="text" name="boardTitle" 
										th:value="${board.boardTitle}" readonly>
						</td>
					</tr>
					<tr>
						<td>
							<input type="text" name="boardWriter" 
										th:value="${board.boardWriter}" readonly>
						</td>
					</tr>
					<tr>
						<td>
							<textarea rows="5" cols="50" name="boardContent"
										th:text="${board.boardContent}" readonly></textarea>
						</td>
					</tr>
					<tr>
						<td th:text="${board.boardHits}">
							<input type="text" name="boardHits"
										th:value="${board.boardHits}" readonly>
						</td>
					</tr>
					<tr>
						<td>
							<input type="text" name="createdDate"
										th:value="${board.createdDate}" readonly>
						</td>
					</tr>
					<tr>
						<td>
							<a th:href="@{/board/list}">
								<input type="submit" value="목록">
							</a>
						</td>
					</tr>
				</tbody>
			</table>
	</div>
</body>
</html>